<div id="site-sidebar" class="c-site-sidebar">
    {{! Sidebar header with blog cover and logo images }}
    <div class="c-sidebar-header" style="background-image: url({{@blog.cover_image}})">
        <a class="c-sidebar-header__link" href="{{@blog.url}}" title="{{@blog.title}}">
            <img class="c-sidebar-header__image" src="{{@blog.logo}}" alt="{{@blog.title}}">
        </a>
    </div>

    {{! Sidebar blog title }}
    {{#is "home"}}<h1 class="c-sidebar-blog-title">{{else}}<h2 class="c-sidebar-blog-title">{{/is}}
        <a class="c-sidebar-blog-title__link" href="{{@blog.url}}" title="{{@blog.title}}">
            {{@blog.title}}
        </a>
    {{#is "home"}}</h1>{{else}}</h2>{{/is}}

    {{! Sidebar blog description }}
    <h2 class="c-sidebar-blog-description">
        {{@blog.description}}
    </h2>

    {{! Sidebar contact links }}
    <div class="c-sidebar-contact-links">
        <a class="c-sidebar-contact-links__item" href="https://github.com/NeilNjae" target="_blank">
            github
        </a>

        <a class="c-sidebar-contact-links__item" href="https://twitter.com/neilnjae" target="_blank">
            twitter
        </a>

        <a class="c-sidebar-contact-links__item" href="https://plus.google.com/+NeilSmith" target="_blank">
            google+
        </a>

        <a class="c-sidebar-contact-links__item" href="mailto:neil.smith@open.ac.uk">
            email
        </a>
    </div>

    {{! Sidebar navigation - Ghost's menu }}
    <!-- {{navigation}} -->

    {{! Sidebar promotion / additional links }}
    <div class="c-sidebar-promotion-links">
        <a class="c-sidebar-promotion-links__item" href="http://www9.open.ac.uk/mct-cc/people/neil.smith" target="_blank">
            &bull; Official OU page
        </a>

        <a class="c-sidebar-promotion-links__item" href="http://oro.open.ac.uk/view/person/ns938.html" target="_blank">
            &bull; Publications
        </a>

        <a class="c-sidebar-promotion-links__item" href="https://www.njae.me.uk" target="_blank">
            &bull; Personal site
        </a>

        <a class="c-sidebar-promotion-links__item" href="/about">
            &bull; About
        </a>
    </div>
</div>