<!DOCTYPE html>
<html lang="en">
<head>
    {{>"head"}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="site-wrapper" class="c-site-wrapper">
        <div id="site-viewport" class="c-site-viewport">
            {{>"sidebar"}}

            <div id="site-content" class="c-site-content">
                {{> "mobile-header"}}
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="{{asset "js/scripts.js"}}"></script>
    {{ghost_foot}}

    <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
    </script>

</body>
</html>